{% extends "base.html" %}
{% block div %}
<div class="page-content">
<div class="content-div">
    <div class="theme-panel hidden-xs hidden-sm switch-theme-color-div">
        <label id="color_switch" class="color-switch">
            <input type="checkbox" class="toggle" id="slider_theme">
            <span class="color-slider round"></span>
        </label>
    </div>
    <input type="hidden" id="init_chart_data" value="{{ chart_data }}">
    
    <!--<h3 class="page-title"> Economic Data Pulse </h3>-->
    <div class="row top-header">
        <div class="col-md-6 col-sm-12">
            <a href="/"><h3 class="page-title">Economic Data Pulse </h3></a>
        </div>
        <div class="col-md-6 col-sm-12 top-button-line">
            <button class="btn pulse-btn">Feedback</button>
            <button class="btn pulse-btn">Blog</button>
            <button class="btn pulse-btn">Twitter</button>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    
    
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN REGIONAL STATS PORTLET-->
            <div class="portlet world-map ">                
                <div class="portlet-body">                    
                    <div id="chartdiv_heat" class="" style="height: 500px;">                        
                    </div>
                </div>
            </div>
            <!-- END REGIONAL STATS PORTLET-->
        </div>              
    </div>
    <div class="clearfix">
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet country-table-portlet">
                <div class="portlet-title">
                    <div class="tools">
                        <div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" id="radio_all" name="radio_country_filter" class="md-radiobtn" checked="" value=0>
                                <label for="radio_all">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                All </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" id="radio_g10" name="radio_country_filter" class="md-radiobtn" value=1>
                                <label for="radio_g10">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                G10 </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" id="radio_em" name="radio_country_filter" class="md-radiobtn" value=2>
                                <label for="radio_em">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                EM </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">                    
                    <table class="table table-hover" id="country_detail_table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Pulse <br>Score</th>
                            <th>30 Day <br>Changes</th>
                            <th>Trend</th>
                            <th>Tx<br> Price</th>
                            <th>Daily<br> Change</th>
                        </tr>
                    </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                    
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>              
    </div>
</div>
</div>

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{{url_for('static', filename='global/scripts/metronic.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='admin/layout/scripts/layout.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='admin/layout/scripts/demo.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='admin/pages/scripts/custom.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='admin/pages/scripts/index.js')}}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script>

jQuery(document).ready(function() {    
    Metronic.init(); // init metronic core componets
    Layout.init(); // init layout   
    Demo.init(); // init demo features
    Custom.init();
    Index.init();  
});
</script>

{% endblock %}